In [1]:
import sys
print(sys.executable)
print(sys.path)

C:\Anaconda3\python.exe
['', 'C:\\Anaconda3\\python36.zip', 'C:\\Anaconda3\\DLLs', 'C:\\Anaconda3\\lib', 'C:\\Anaconda3', 'C:\\Anaconda3\\lib\\site-packages', 'C:\\Anaconda3\\lib\\site-packages\\Babel-2.5.0-py3.6.egg', 'C:\\Anaconda3\\lib\\site-packages\\win32', 'C:\\Anaconda3\\lib\\site-packages\\win32\\lib', 'C:\\Anaconda3\\lib\\site-packages\\Pythonwin', 'C:\\Anaconda3\\lib\\site-packages\\IPython\\extensions', 'C:\\Users\\Terence Lim\\.ipython']

In [54]:
import numpy as np
import pandas as pd 
import torch
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.offline as pyo
from plotly.offline import download_plotlyjs, init_notebook_mode, plot, iplot
import plotly.graph_objs as go
import re
from gensim.parsing.preprocessing import strip_punctuation, strip_multiple_whitespaces, remove_stopwords, stem_text, preprocess_string
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.model_selection import train_test_split
from sklearn import linear_model
from sklearn.preprocessing import LabelEncoder

## Reading in data

In [3]:
data = pd.read_table("../data/kaggle-mercari/train.tsv")
kaggle_test = pd.read_table("../data/kaggle-mercari/test.tsv")

In [4]:
data.head()

,train_id,name,item_condition_id,category_name,brand_name,price,shipping,item_description
0,0,MLB Cincinnati Reds T Shirt Size XL,3,Men/Tops/T-shirts,NaN,10.0,1,No description yet
1,1,Razer BlackWidow Chroma Keyboard,3,Electronics/Computers & Tablets/Components & P...,Razer,52.0,0,This keyboard is in great condition and works ...
2,2,AVA-VIV Blouse,1,Women/Tops & Blouses/Blouse,Target,10.0,1,Adorable top with a hint of lace and a key hol...
3,3,Leather Horse Statues,1,Home/Home Décor/Home Décor Accents,NaN,35.0,1,New with tags. Leather horses. Retail for [rm]...
4,4,24K GOLD plated rose,1,Women/Jewelry/Necklaces,NaN,44.0,0,Complete with certificate of authenticity

In [5]:
kaggle_test.head()

,test_id,name,item_condition_id,category_name,brand_name,shipping,item_description
0,0,"Breast cancer ""I fight like a girl"" ring",1,Women/Jewelry/Rings,NaN,1,Size 7
1,1,"25 pcs NEW 7.5""x12"" Kraft Bubble Mailers",1,Other/Office supplies/Shipping Supplies,NaN,1,"25 pcs NEW 7.5""x12"" Kraft Bubble Mailers Lined..."
2,2,Coach bag,1,Vintage & Collectibles/Bags and Purses/Handbag,Coach,1,Brand new coach bag. Bought for [rm] at a Coac...
3,3,Floral Kimono,2,Women/Sweaters/Cardigan,NaN,0,-floral kimono -never worn -lightweight and pe...
4,4,Life after Death,3,Other/Books/Religion & Spirituality,NaN,1,Rediscovering life after the loss of a loved o...

In [6]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1482535 entries, 0 to 1482534
Data columns (total 8 columns):
train_id             1482535 non-null int64
name                 1482535 non-null object
item_condition_id    1482535 non-null int64
category_name        1476208 non-null object
brand_name           849853 non-null object
price                1482535 non-null float64
shipping             1482535 non-null int64
item_description     1482531 non-null object
dtypes: float64(1), int64(3), object(4)
memory usage: 90.5+ MB

In [7]:
kaggle_test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 693359 entries, 0 to 693358
Data columns (total 7 columns):
test_id              693359 non-null int64
name                 693359 non-null object
item_condition_id    693359 non-null int64
category_name        690301 non-null object
brand_name           397834 non-null object
shipping             693359 non-null int64
item_description     693359 non-null object
dtypes: int64(3), object(4)
memory usage: 37.0+ MB

In [8]:
data.describe()

           train_id  item_condition_id         price      shipping
count  1.482535e+06       1.482535e+06  1.482535e+06  1.482535e+06
mean   7.412670e+05       1.907380e+00  2.673752e+01  4.472744e-01
std    4.279711e+05       9.031586e-01  3.858607e+01  4.972124e-01
min    0.000000e+00       1.000000e+00  0.000000e+00  0.000000e+00
25%    3.706335e+05       1.000000e+00  1.000000e+01  0.000000e+00
50%    7.412670e+05       2.000000e+00  1.700000e+01  0.000000e+00
75%    1.111900e+06       3.000000e+00  2.900000e+01  1.000000e+00
max    1.482534e+06       5.000000e+00  2.009000e+03  1.000000e+00

In [9]:
kaggle_test.describe()

             test_id  item_condition_id       shipping
count  693359.000000      693359.000000  693359.000000
mean   346679.000000           1.906102       0.447719
std    200155.646984           0.903378       0.497260
min         0.000000           1.000000       0.000000
25%    173339.500000           1.000000       0.000000
50%    346679.000000           2.000000       0.000000
75%    520018.500000           3.000000       1.000000
max    693358.000000           5.000000       1.000000

In [10]:
def imputing_missing_values(dataset):
    dataset.category_name.fillna('Unknown', inplace=True)
    dataset.brand_name.fillna('Unknown', inplace=True)
    dataset.item_description.fillna('Unknown', inplace=True)
    return dataset

def preprocess_text(text_string):
    words_preprocessing_filters = [strip_punctuation, strip_multiple_whitespaces, remove_stopwords, stem_text]
    return preprocess_string(text_string, words_preprocessing_filters)

def dataframe_merge_text_features(dataframe, list_of_preprocessed_text_features, merged_text_feature_name):
    new_dataframe = dataframe.copy()
    text_features_accessors_list = [''.join(['row["', text_feature, '"]']) for text_feature in list_of_preprocessed_text_features]
    string_of_lambda_fn = '+'.join(text_features_accessors_list)
    new_dataframe[merged_text_feature_name] = new_dataframe.apply(lambda row: eval(string_of_lambda_fn), axis=1)
    new_dataframe[merged_text_feature_name] = new_dataframe.apply(lambda row: ' '.join(row[merged_text_feature_name]), axis=1)
    return new_dataframe

Fill missing values with unknown tags and perform text preprocessing on textual features

In [11]:
data_X = data.drop('price', axis=1)
data_y = data.loc[:, 'price']
data_X = imputing_missing_values(data_X)
data_X['name'] = data_X['name'].apply(preprocess_text)
data_X['item_description'] = data_X['item_description'].apply(preprocess_text)

Do sampling of 10000 records (training set), 2000 records (validation set) and 2000 records (test set)

In [60]:
X_train_val, X_test, y_train_val, y_test = train_test_split(data_X, data_y, train_size=12000, test_size=2000, random_state=15)
X_train, X_val, y_train, y_val = train_test_split(X_train_val, y_train_val, train_size=10000, test_size=2000, random_state=15)

### Smoothing long-tailed data for the y-values for the training dataset

In [61]:
fig, ax = plt.subplots(figsize=(15.7, 9.5), ncols=1, nrows=2)
# sns.set_style(style='whitegrid')
ax[0].set_ylabel("y values", fontsize=14)
ax[1].set_ylabel("Log transformed y values", fontsize=14)
sns.distplot(y_train, ax=ax[0]).set_title("Training dataset's distribution")
sns.distplot(np.log1p(y_train), ax=ax[1]).set_title("Training dataset's price log distribution")

Text(0.5,1,"Training dataset's price log distribution")

In [62]:
y_train_log = np.log1p(y_train)

In [63]:
X_train = dataframe_merge_text_features(X_train, ['name', 'item_description'], 'name_description')
X_train.head()

,train_id,name,item_condition_id,category_name,brand_name,shipping,item_description,name_description
1247296,1247296,"[lularo, amelia, larg, free, ship]",2,Women/Dresses/Knee-Length,LuLaRoe,1,"[unicorn, hard, print, worn, excel, condit, se...",lularo amelia larg free ship unicorn hard prin...
520284,520284,"[lularo, leg, tc]",2,Women/Jeans/Leggings,LuLaRoe,1,"[super, cute, leg, never, worn, size, tall, cu...",lularo leg tc super cute leg never worn size t...
388807,388807,"[girl, lg, fabric, storag, cube, organ]",1,Home/Storage & Organization/Jewelry Boxes & Or...,Unknown,0,[new],girl lg fabric storag cube organ new
907792,907792,"[✨abh, liquid, lipstick]",1,Beauty/Makeup/Lips,Unknown,0,"[never, in, shade, vamp]",✨abh liquid lipstick never in shade vamp
231612,231612,"[no, bark, dog, collar]",1,Other/Pet Supplies/Dogs,Unknown,0,"[no, bark, dog, collar, dog, size]",no bark dog collar no bark dog collar dog size

## Exploratory Data Analysis

Since there are too many variations for the 'category-name' column, we decided to split the categories up, focusing on 1 main category and 2 sub-categories instead.

In [64]:
def split_str(text, index):
    try:
        cats_subcats = text.split('/')
        return cats_subcats[index]
    except:
        # Only consider 1 main cat and 2 sub-cats
        return None

In [65]:
X_train['main_category'] = X_train['category_name'].apply(split_str, args=(0,))
X_train['sub_category_1'] = X_train['category_name'].apply(split_str, args=(1,))
X_train['sub_category_2'] = X_train['category_name'].apply(split_str, args=(2,))
X_train.head()

,train_id,name,item_condition_id,category_name,brand_name,shipping,item_description,name_description,main_category,sub_category_1,sub_category_2
1247296,1247296,"[lularo, amelia, larg, free, ship]",2,Women/Dresses/Knee-Length,LuLaRoe,1,"[unicorn, hard, print, worn, excel, condit, se...",lularo amelia larg free ship unicorn hard prin...,Women,Dresses,Knee-Length
520284,520284,"[lularo, leg, tc]",2,Women/Jeans/Leggings,LuLaRoe,1,"[super, cute, leg, never, worn, size, tall, cu...",lularo leg tc super cute leg never worn size t...,Women,Jeans,Leggings
388807,388807,"[girl, lg, fabric, storag, cube, organ]",1,Home/Storage & Organization/Jewelry Boxes & Or...,Unknown,0,[new],girl lg fabric storag cube organ new,Home,Storage & Organization,Jewelry Boxes & Organizers
907792,907792,"[✨abh, liquid, lipstick]",1,Beauty/Makeup/Lips,Unknown,0,"[never, in, shade, vamp]",✨abh liquid lipstick never in shade vamp,Beauty,Makeup,Lips
231612,231612,"[no, bark, dog, collar]",1,Other/Pet Supplies/Dogs,Unknown,0,"[no, bark, dog, collar, dog, size]",no bark dog collar no bark dog collar dog size,Other,Pet Supplies,Dogs

In [66]:
init_notebook_mode(connected=True)

In [67]:
# Plotly Chart for main_category counts
cats_name = X_train['main_category'].value_counts().index.tolist()
cats_count = X_train['main_category'].value_counts().values.tolist()

categories_data = [go.Bar(
                    x=cats_name,
                    y=cats_count
                )]

categories_layout = go.Layout(
                  title='Number of items against Main Category',
                  xaxis={'title': 'Category'},
                  yaxis={'title': 'Item Count'},
                  hovermode='closest', 
                  margin=go.Margin(
                    l=50,
                    r=50,
                    b=100,
                    t=100,
                    pad=4,
                    autoexpand=False
                ))

fig = go.Figure(data=categories_data, layout=categories_layout)
pyo.iplot(fig)

In [68]:
# Plotly Chart for main_category counts
subcats_name = X_train['sub_category_1'].value_counts().index
subcats_count = X_train['sub_category_1'].value_counts().values
percentage = [("{}".format(pct*100))+"%" for pct in (subcats_count/len(X_train))]

subcategories_data = [go.Bar(
                    x=subcats_name,
                    y=subcats_count,
                    text=percentage,
                    marker=dict(
                    color=subcats_count,colorscale='Viridis'
                ))]

subcategories_layout = go.Layout(
                  title='Number of items against Sub-Category 1',
                  xaxis={'title': 'Category'},
                  yaxis={'title': 'Item Count'},
                  hovermode='closest', 
                  margin=go.Margin(
                    l=50,
                    r=50,
                    b=150,
                    t=30,
                    pad=4,
                    autoexpand=False
                ))

fig = go.Figure(data=subcategories_data, layout=subcategories_layout)
pyo.iplot(fig)

## Topic Modeling with Latent Dirichlet Allocation
This is a type of statistical modeling for discovering the abstract "topics" that occur in a collection of document.</br>
Compared to Normal distribution, Dirichlet distribution is also a probability distribution but over a space of real numbers, imagine a list of numbers that add up to 1.

In [69]:
def get_word_list(text):
    return text.split()

X_train['name_description'] = X_train['name_description'].apply(get_word_list)
X_train.head(5)

,train_id,name,item_condition_id,category_name,brand_name,shipping,item_description,name_description,main_category,sub_category_1,sub_category_2
1247296,1247296,"[lularo, amelia, larg, free, ship]",2,Women/Dresses/Knee-Length,LuLaRoe,1,"[unicorn, hard, print, worn, excel, condit, se...","[lularo, amelia, larg, free, ship, unicorn, ha...",Women,Dresses,Knee-Length
520284,520284,"[lularo, leg, tc]",2,Women/Jeans/Leggings,LuLaRoe,1,"[super, cute, leg, never, worn, size, tall, cu...","[lularo, leg, tc, super, cute, leg, never, wor...",Women,Jeans,Leggings
388807,388807,"[girl, lg, fabric, storag, cube, organ]",1,Home/Storage & Organization/Jewelry Boxes & Or...,Unknown,0,[new],"[girl, lg, fabric, storag, cube, organ, new]",Home,Storage & Organization,Jewelry Boxes & Organizers
907792,907792,"[✨abh, liquid, lipstick]",1,Beauty/Makeup/Lips,Unknown,0,"[never, in, shade, vamp]","[✨abh, liquid, lipstick, never, in, shade, vamp]",Beauty,Makeup,Lips
231612,231612,"[no, bark, dog, collar]",1,Other/Pet Supplies/Dogs,Unknown,0,"[no, bark, dog, collar, dog, size]","[no, bark, dog, collar, no, bark, dog, collar,...",Other,Pet Supplies,Dogs

In [82]:
# Creating a dictionary of our corpus
from gensim import corpora
dictionary = corpora.Dictionary(X_train['name_description'])

# filter_extremes() to filter out tokens (less than 20 documents, more than 0.5 fraction of total corpus, first 100000 tokens)
dictionary.filter_extremes(no_below=20, no_above=0.5, keep_n=100000)

# Converting list of documents into Document-Term Matrix
# Each list contains of words in doc, in the form of (index in dictionary, no. of word occurence)
doc_term_matrix = [dictionary.doc2bow(doc) for doc in X_train['name_description']]

In [ ]:
# Creating object for LDA model
import gensim
LDA = gensim.models.ldamodel.LdaModel

# Running LDA model
ldamodel = LDA(doc_term_matrix, num_topics=10, id2word=dictionary, passes=50)

In [42]:
le = LabelEncoder()
X_train['main_category'] = le.fit_transform(X_train['category_name'])
X_train['sub_category_1'] = le.fit_transform(X_train['category_name'])
X_train['sub_category_2'] = le.fit_transform(X_train['category_name'])
X_train['brand_name'] = le.fit_transform(X_train['brand_name'])
X_train.head()

,train_id,name,item_condition_id,category_name,brand_name,shipping,item_description,name_description,main_category,sub_category_1,sub_category_2
1247296,1247296,"[lularo, amelia, larg, free, ship]",2,Women/Dresses/Knee-Length,412,1,"[unicorn, hard, print, worn, excel, condit, se...",lularo amelia larg free ship unicorn hard prin...,522,522,522
520284,520284,"[lularo, leg, tc]",2,Women/Jeans/Leggings,412,1,"[super, cute, leg, never, worn, size, tall, cu...",lularo leg tc super cute leg never worn size t...,529,529,529
388807,388807,"[girl, lg, fabric, storag, cube, organ]",1,Home/Storage & Organization/Jewelry Boxes & Or...,682,0,[new],girl lg fabric storag cube organ new,194,194,194
907792,907792,"[✨abh, liquid, lipstick]",1,Beauty/Makeup/Lips,682,0,"[never, in, shade, vamp]",✨abh liquid lipstick never in shade vamp,24,24,24
231612,231612,"[no, bark, dog, collar]",1,Other/Pet Supplies/Dogs,682,0,"[no, bark, dog, collar, dog, size]",no bark dog collar no bark dog collar dog size,391,391,391

In [15]:
from sklearn.feature_extraction.text import CountVectorizer
cvect = CountVectorizer(input='content', strip_accents='unicode', ngram_range=(1,1),) # , max_features=30000 
train_text_data_features = cvect.fit(X_train['name_description'])

In [16]:
cvect_data = cvect.transform(X_train['name_description'])
cvect_df = pd.DataFrame(cvect_data.todense(), columns=cvect.get_feature_names())
cvect_df.head()

,00,000,001,003,0073523917,007oz,00ct,00ctw,00g,00pm,...,zumi,zumiez,zur,zutano,zx,zygard,zz,ᏼꮜnꭰꮮꭼ,ꮎꮲꭺꮮ,ꮎꮲꮜꮮꭼnꭲ
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [25]:
X_train_prepped = pd.concat([X_train.filter(items=['item_condition_id', 'category_name', 'brand_name', 'shipping']).reset_index(drop=True), cvect_df], axis=1, sort=False)
X_train_prepped.head()

,item_condition_id,category_name,brand_name,shipping,00,000,001,003,0073523917,007oz,...,zumi,zumiez,zur,zutano,zx,zygard,zz,ᏼꮜnꭰꮮꭼ,ꮎꮲꭺꮮ,ꮎꮲꮜꮮꭼnꭲ
0,2,522,412,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,2,529,412,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,1,194,682,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,1,24,682,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,1,391,682,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [26]:
non_reg_lr_model = linear_model.LinearRegression(n_jobs=-1)
non_reg_lr_model.fit(X_train_prepped, y_train_log)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=-1, normalize=False)

In [ ]:
# mat = vect.fit_transform(df_sample.item_description)

In [ ]:
# mat.shape

In [ ]:
# Load Google's pre-trained Word2Vec model.
# model = gensim.models.KeyedVectors.load_word2vec_format('./GoogleNews-vectors-negative300.bin.gz', binary=True)